<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
  </head>
  <body>
    <a href="{{ url_for('main.index') }}">home</a>
    user info page {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% if current_user.is_authenticated %}
    <div>{{ current_user.username }}</div>
    <a href="{{ url_for('posts.detail',id=current_user.id) }}">myinfo</a>
    <a href="{{ url_for('auth.logout') }}">logout</a>
    {% else %}
    <a href="{{ url_for('auth.register') }}">register</a>
    <a href="{{ url_for('auth.login') }}">login</a>
    {% endif %}

    {% for ct in cts %}
    <div style="color: red">{{ ct.body }}</div>
    <span>{{ ct.date }}</span>
    <span style="color: cadetblue">{{ ct.user.username }}</span>
    <a href="{{ url_for('posts.delete',id=ct.id) }}">delete</a>
    {% endfor %}
  </body>
</html>
